
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]BubiSanat | Hakkımızda</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/bubisanat.styles.css" asp-append-version="true" />
    <link href="~/font-awesome/css/all.css" rel="stylesheet" />
    <link href="~/font-awesome/css/all.min.css" rel="stylesheet" />
    <link rel="icon" sizes="192x192" href="https://bubisanat.s3.eu-central-1.amazonaws.com/apple-icon.png">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img style="padding-left:40px;" height="35" src="https://bubisanat.s3.eu-central-1.amazonaws.com/bubisanat_logo.png" alt="bubisanat-logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapsehkm navbar-collapsehkm">
                    <ul class="navbar-navhkm ml-autohkm text-white">
                        <li class="nav-itemhkm">
                            <a class="nav-linkhkm" rel="tooltip" title="" data-placement="bottom" href="https://t.me/bubisanat" target="_blank" data-original-title="BubiSanat">
                                <i class="fa fa-telegram"></i><span class="d-inline d-md-none text-capitalize">&nbsp;&nbsp;Telegram</span>
                            </a>
                        </li>
                        <li class="nav-itemhkm">
                            <a class="nav-linkhkm" rel="tooltip" title="" data-placement="bottom" href="https://twitter.com/bubisanatcom" target="_blank" data-original-title="BubiSanat">
                                <i class="fa fa-twitter"></i><span class="d-inline d-md-none text-capitalize">&nbsp;&nbsp;Twitter</span>
                            </a>
                        </li>
                        <li class="nav-itemhkm">
                            <a class="nav-linkhkm" rel="tooltip" title="" data-placement="bottom" href="https://www.instagram.com/bubisanatcom" target="_blank" data-original-title="BubiSanat">
                                <i class="fa fa-instagram"></i><span class="d-inline d-md-none text-capitalize">&nbsp;&nbsp;Instagram</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="row page-header header-offset">
        <div class="container">
            <h1>KULLANICI SÖZLEŞMESİ</h1>

            <h2>BuBi' Sanat sitesinin kayıtlı kullanıcısı olduğunuzda tabi olduğunuz kurallar ve diğer yasal konular aşağıdaki gibidir:</h2>
            <ul style="list-style: decimal;">
                <li><p>Sitemizde içerik oluşturabilmek için sitemizin kayıtlı kullanıcısı olmanız gerekmektedir.</p></li>
                <li><p>Kayıtlı kullanıcı olmak için girdiğiniz bilgiler, sitemizin duyurularını aktarmak için kullanılabilir. Onun dışında kişisel bilgileriniz hiçbir şahıs ya da kurumla paylaşılmayacaktır.</p></li>
                <li><p>Hesabınızın güvenliğine ilişkin tüm sorumluluk size aittir. Şifrenizi kolay tahmin edilemeyecek şekilde oluşturmanızı ve üçüncü kişilerle paylaşmamanızı, üçüncü kişilere ait web sitelerine ve/veya mobil uygulamalara kullanıcı adı ve şifrenizi girmemenizi tavsiye ederiz.</p></li>
                <li><p>BuBi Sanat üyeliğinizi kısmen veya tamamen herhangi bir üçüncü kişiye devredemez; üyeliğinizi kendinizden başka kişilerin kullanımına açamazsınız.</p></li>
                <li><p>Hesabınız aktive olduktan sonra ''Edebiyat'' başlığı altında oluşturacağınız içerikler editörlerimiz tarafından onaylanana kadar sitede görünmeyecektir. Diğer başlıklardaki içerikler için bir onay süreci gerekmese de bu durum zaman zaman değişebilir.</p></li>
                <li><p>Kullanıcıların oluşturduğu içeriklerin onayı editörlerimizin takdirinde olup, sitede kayıtlı kullanıcı olmanız her alanda içerikler oluşturabileceğiniz anlamına gelmemektedir. Kayıtlı kullanıcıların içeriklerinin paylaşılmasındaki değerlendirme kriterleri, tercih edilecek yöntemler veya süreye ilişkin hiçbir taahhütte bulunmamaktayız. Metin ve çalışma alımları sürekli yapılacaktır. </p></li>
                <li><p>"Güncel" ve "Genel Kültür" başlıkları altında yer alacak içerikler yalnızca editörler tarafından oluşturulacaktır. Diğer kullanıcılar bu alanlara ancak mail yoluyla içerik gönderebilirler.</p></li>
                <li><p>"Aylık Dergi" başlığında yayınlayacağımız içeriklerin tercihi ve onayı editörlerin inisiyatifindedir. BuBi Sanat'ın işleyiş durumuna göre bazı aylar dergi yayınlanmayabilir veya yayınlandıktan sonra bir kısmı veya tamamı silinebilir.</p></li>
                <li><p>Ürettiğiniz içeriklerde etik dışı söylemler olduğunda (lgbtiq+ fobi, cinsiyetçi küfürler, ırk ayrımı, tür ayrımı vb...) paylaşımınıza editörler tarafından müdahale edilecek, içeriğiniz kaldırılacak ve oluşacak hukuki ihlallerde sorumluluk tamamıyla kullanıcının kendisinde olacaktır.</p></li>
                <li><p>Oluşturduğunuz içerik BuBi Sanat sitesinin kurallarına ve hukuka uygun olmak zorundadır. Oluşturduğunuz içeriklerin tüm sorumluluğu size aittir ve içerikler yazım kuralları dışında hiçbir ön denetime tabi tutulmadan yayına girer. (Yazım kuralları denetimi de yalnızca "Edebiyat" başlığındaki içerikler için geçerlidir.) Bu nedenle oluşturduğunuz içeriğin hukuka aykırı olmadığından lütfen emin olunuz. İçerik yayına alındığı anda hukuki sorumluluğunuz başladığından, oluşturduğunuz içeriğin daha sonra tarafınızca veya şikayet/haberdar edilme vs. üzerine sitemiz tarafından silinmiş olması sorumluluğunuzu ortadan kaldırmayacaktır.</p></li>
                <li><p>Bu kullanıcı sözleşmesini imzalamakla, BuBi Sanat'ta oluşturacağınız tüm içeriklerin herhangi bir telif ihlali içermediğini ve içeriklerinizin tamamen şahsınıza ait olduğunu kabul etmiş sayılırsınız. Bu tip bir ihlalle karşılaşıldığında sorumluluk içeriği paylaşan kişiye aittir.</p></li>
                <li><p>"Aylık Dergi", "Genel Kültür" gibi alanlarda BuBi Sanat'a gönderilen içerikler, bir ön denetime tabi tutulmayacağından, içeriğin doğuracağı hak ihlallerinin sorumluluğu yine gönderenin kendisine ait olacaktır.</p></li>
                <li><p>BuBi Sanat kuralları, içeriklerin silinme sebepleri ve diğer yaptırımlar kullanıcılara duyurulmaktadır, bunların takibi sizin sorumluluğunuzdadır.</p></li>
                <li><p>Paylaşımlarınız BuBi Sanat kurallarına uygun olmaması veya hukuka aykırı olması sebebiyle yayından kaldırılabilir. Kurallara veya hukuka aykırılıklar nedeniyle yazarlığınız geçici olarak durdurulabilir veya kullanıcı hesabınız kapatılabilir. Diğer tüm haklarımız saklıdır.</p></li>
                <li><p>Gerekli gördüğümüz takdirde ve  neden belirtmeksizin dilediğimiz içeriği kısmen veya tamamen yayından kaldırabilir; üyelere verdiğimiz hizmeti sınırlandırabilir, değiştirebilir veya üyenin üyeliğine son verebiliriz.</p></li>
                <li><p>BuBi Sanat'a vermiş olduğunuz bilgilerinizin güvenliği için BuBi Sanat elinden gelen özeni göstermektedir ancak BuBi Sanat'ın özen yükümlülüğünden başka yükümlülüğünün olmadığını, barındırma hizmeti ve benzeri hizmet veren firmaların güvenliği sağlayamaması veya BuBi Sanat'a yasa dışı erişilerek bilgilerin ele geçirilmesi gibi hallerde doğrudan ya da dolaylı hiçbir zarara ilişkin sorumluluk kabul etmemekteyiz.</p></li>
                <li><p>Her ne kadar düzenli olarak yedekleme yapıyor olsak da, sitedeki verilerinizin (içerikler, mesajlar, notlar ve benzeri her türlü içerik) kısmen veya tamamen kaybolmayacağına ilişkin hiçbir taahhütte bulunmamaktayız.</p></li>
                <li><p>Ayrıca bu verileri kalıcı olarak silme hakkını da saklı tutmaktayız. Bu nedenle herhangi bir sebeple yaşanacak veri kaybı veya bozulması halinde hiçbir şekilde sorumluluk kabul etmemekteyiz. Veri kaybı yaşama gibi bir endişeniz varsa BuBi Sanat'ta paylaştığınız verilerinizi kendi imkanlarınızla yedeklemenizi öneririz. Ayrıca BuBi Sanat'a kaydolmanız esnasında ve kullanımınız süresince sizden doğrudan talep ettiğimiz(haberli) veya siteyi kullanımınız esnasında yaptığınız işlemlerin otomatik olarak kaydedilmesi(habersiz) şeklinde tarafınızdan toplanılan her türlü veriyi süre sınırı olmaksızın saklama, işleme ve kullanma hakkımız bulunmaktadır ancak bu sözleşmede aksi belirtilen durumlar saklıdır.</p></li>
                <li><p>Kendi isteğiniz doğrultusunda mesajlaşma yoluyla paylaştığınız veya içeriklerinizde alenileştirdiğiniz bilgilerinize ilişkin olarak BuBi Sanat'ın hiçbir sorumluluğu bulunmamaktadır. Kişisel yazışma yoluyla veya yayınladığınız içeriklerde paylaştığınız bilgilere ve beyanlarınıza özen göstermenizi tavsiye ederiz.</p></li>
                <li><p>BuBi Sanat'ta oluşturduğunuz/yayınladığınız içeriklerin telif hakları size aittir. Bu nedenle BuBi Sanat'ta yayınladığınız içeriğinizi ticari maksatla dahi dilediğiniz şekilde derleyip, kullanabilirsiniz.</p></li>
                <li><p>Telif hakları size ait olmakla birlikte, BuBi Sanat'ta yayınladığınız tüm içerik için BuBi Sanat'a çoğaltma, kopyalama, işleme ve basılı ortam, radyo-televizyon, uydu ve kablo gibi telli veya telsiz yayın yapan kuruluşlar vasıtasıyla veya internet ve sair dijital iletim şekilleri de dahil olmak üzere işaret, ses ve/veya görüntü nakline yarayan araçlar ve sair her türlü araçla yayınlama hakları dahil olmak ancak bunlarla kısıtlı kalmamak kaydıyla tüm mali haklarını hiçbir coğrafi sınırlama olmaksızın, süresiz ve bedelsiz kullanma hakkı(lisans) vermektesiniz.</p></li>
                <li><p>BuBi Sanat'ta yayınladığınız içeriğin aksi sabit oluncaya kadar size ait olduğu veya Fikir ve Sanat Eserleri Kanunu çerçevesinde kullanma hakkınız olduğu kabul edilir. Size ait olmayan içeriğin ancak kanunlarda belirtilen usule uygun olarak ve/veya atıfta bulunmanız şartıyla yayınlanması mümkündür. Aksi halde uğrayabileceğimiz zararlardan yalnızca sizin sorumlu olacağınızı belirtmek isteriz.</p></li>
                <li><p>BuBi Sanat bu kullanım sözleşmesinde zaman zaman değişiklikler yapabilir, üyelerin bu üyelik sözleşmesi değişikliklerini takip ederek uygun görmemeleri halinde üyelikten çıkmaları kendi sorumluluğundadır.</p></li>
                <li><p>Üye, yukarıda yer alan maddelere aykırı hareket ederek uğrayabileceği her türlü zarar sebebiyle BuBi Sanat'tan herhangi bir hak talep edilemeyeceğini kabul eder.</p></li>
            </ul>
            <br>
            <p>Bu sözleşme en son 01.03.2020 tarihinde güncellenmiştir.</p>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <nav class="float-left">
                <ul>
                    <li>
                        <a href="/hakkimizda">
                            Hakkımızda
                        </a>
                    </li>
                    <li>
                        <a href="/yardim">
                            Yardım
                        </a>
                    </li>
                    <li>
                        <a href="/kullanici-sozlesmesi">
                            Kullanıcı Sözleşmesi
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright float-right">
                © 2020, <i class="material-icons">favorite</i> ile yapıldı.
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
